* {
  box-sizing: border-box;
}

@font-face {
  font-family: Quicksand;
  src: url(../Quicksand-Medium.ttf);
}

html{
	height:100%;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

.loader 
{
	display: Block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #ffffffff;
}

.loader img{
	width:50%;
	position: relative;
	top:50%;
	left:50%;
    transform: translate(-50%, -50%);
}

.mobile{
	background-color: #611AF0;
	display:Block;
	height:100%;
}

.mobile .header {
	display:table;
	overflow: hidden;
	width:100%;
	background-color: none;
	height: 7.5%;
	padding-inline:2%;
}

.mobile .header a{
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-size: 18px;
	transition: 0.3s;
	text-align: left;
}

.pin {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	opacity: 0%;
	z-index: 2;
	background: #212121;
	width: 100%;
	height:100%;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	  -ms-flex-pack: center;
		  justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	  -ms-flex-align: center;
		  align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	  -ms-flex-direction: column;
		  flex-direction: column;
	border-radius: 4px;
	margin: auto;
	color: rgba(255, 255, 255, 0.2);
	padding: 5%;
}

.show{
	visibility: visible;
	opacity: 100%;
	transition: 0.3s;
}

.hide{
	visibility: hidden;
	opacity: 0%;
	transition: 0.3s;
}

.dots {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 1em;
  padding-top: 3em;
}

.dot {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.8em;
  width: 0.8em;
  height: 0.8em;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}
.dot.active {
  -webkit-animation: growDot .3s ease;
          animation: growDot .3s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.dot.wrong {
  -webkit-animation: wrong .3s ease;
          animation: wrong .3s ease;
}
.dot.correct {
  -webkit-animation: correct .3s ease;
          animation: correct .3s ease;
}

.pin p {
  font-size: .8em;
}

.numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  margin: 2em 0;
}


.number {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 2.5em;
  border: 2px solid rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 2.5em;
  font-weight: 400;
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.number:hover {
  color: rgba(255, 255, 255, 0.5);
}
.number:hover:before {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.number:before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2.5em;
  height: 2.5em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.number.grow:before {
  -webkit-animation: grow .3s ease;
          animation: grow .3s ease;
}

@-webkit-keyframes growDot {
  100% {
    background: white;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
}

@keyframes growDot {
  100% {
    background: white;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
}
@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes grow {
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes wrong {
  20% {
    background: crimson;
  }
  40% {
    -webkit-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  80% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
}
@keyframes wrong {
  20% {
    background: crimson;
  }
  40% {
    -webkit-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  80% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
}
@-webkit-keyframes correct {
  20% {
    background: limegreen;
  }
  40% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  60% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  80% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}
@keyframes correct {
  20% {
    background: limegreen;
  }
  40% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  60% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  80% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}
